{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>你好, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
	<h3>欢迎来到双色球世界！</h3>
	<h4>{% if name %}您的预期组数是{{num}}, 为您本期的预测结果如下：{% else %}{% endif %}</h4>
	<p>{% if num %}概率最大的一组:  [ 9 13 15 25 27 32 15]      <br />
       概率第2大的一组: [ 6 12 13 14 15 27 13]      <br />
       概率第3大的一组: [ 6  9 13 15 26 27  9]      <br />
       概率第4大的一组: [ 3 12 16 18 26 27  6]      <br />
       概率第5大的一组: [ 3  6  9 10 12 13 12]      <br />
       概率第6大的一组: [ 8  9 10 16 20 26 14]      <br />
       概率第7大的一组: [ 6 10 26 30 31 32 16]      <br />
       概率第8大的一组: [ 3  4  8 12 16 22  3]      <br />
       概率第9大的一组: [10 11 22 27 30 31 10]      <br />
       概率第10大的一组: [ 3  4  8  9 10 29  8]      {% else %}{% endif %}</p>
</div>

{% endblock %}
